In [40]:
import pandas as pd
import numpy as np

In [19]:
investimentos = pd.read_csv('50_startups.csv')
investimentos.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [31]:
X = investimentos.iloc[:, :-1].values
y = investimentos.iloc[:, -1].values

In [21]:
investimentos['State'].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [27]:
oHe = OneHotEncoder()
ct = ColumnTransformer(transformers=[
    ('encoder', oHe, [3])],
    remainder='passthrough')

In [28]:
X_encoded = ct.fit_transform(X)

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=.3, random_state=42)

In [34]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [35]:
y_pred = lr.predict(X_test)
y_pred

array([126187.39411504,  85788.82259513,  99777.02815178,  45706.12238329,
       127062.20722771,  51891.8388446 , 109114.62977495, 100600.61123702,
        97953.99874716, 111730.57706809, 128818.49200668, 174195.35772632,
        93736.2853844 , 148381.04097159, 172313.87139388])

In [36]:
y_test

array([134307.35,  81005.76,  99937.59,  64926.08, 125370.37,  35673.41,
       105733.54, 107404.34,  97427.84, 122776.86, 141585.52, 166187.94,
        89949.14, 152211.77, 182901.99])

In [41]:
from sklearn.metrics import mean_squared_error
print('MSE:', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE: 9210.154995186738