# Pré-processamento de um conjunto de dados

1. Faça a "clonagem" do repositório da disciplina no GitHub (https://github.com/malegopc/AM2PUCPOC (Links para um site externo.))

2. Faça a leitura do arquivo "Churn_Modelling.csv" disponível na pasta "Churn" e armazene numa variável como um dataframe;

In [1]:
import pandas as pd

df_churn = pd.read_csv("Churn_Modelling.csv")
df_churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

3. Crie uma variável X que contenha apenas os atributos/colunas de "CreditScore" a "EstimatedSalary" utilizando a função "iloc" do Pandas. Em outras palavras, crie uma variável X que receba o dataframe inteiro exceto as 3 primeiras colunas e a última. Observe que as 3 primeiras colunas "RowNumber", "CustomerId" e "Surname" não são importantes e devem ser descartadas. E a última coluna ("Exited") será a variável destino ("target" ou saída) que será criada no próximo passo;

In [2]:
X = df_churn.iloc[:,3:13].values
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

4. Crie uma variável y que contenha apenas a última coluna  ("Exited"). Esta é a variável destino ("target" ou saída);

In [3]:
y = df_churn.iloc[:,13]
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

5. Codifique a coluna/variável categórica "Geography" como numérica utilizando a classe LabelEncoder da biblioteca scikit-learn;

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() # cria objeto
le.fit(X[:,1]) # ajusta na variável de entrada
X[:,1] = le.transform(X[:,1]) # aplica a transformação na variável de entrada
print(X)

[[619 0 'Female' ... 1 1 101348.88]
 [608 2 'Female' ... 0 1 112542.58]
 [502 0 'Female' ... 1 0 113931.57]
 ...
 [709 0 'Female' ... 0 1 42085.58]
 [772 1 'Male' ... 1 0 92888.52]
 [792 0 'Female' ... 1 0 38190.78]]

6. Codifique a coluna/variável categórica "Gender" como numérica utilizando a classe LabelEncoder da biblioteca scikit-learn;

In [5]:
le = LabelEncoder() # cria objeto
le.fit(X[:,2]) # ajusta na variável de entrada
X[:,2] = le.transform(X[:,2]) # aplica a transformação na variável de entrada
print(X)

[[619 0 0 ... 1 1 101348.88]
 [608 2 0 ... 0 1 112542.58]
 [502 0 0 ... 1 0 113931.57]
 ...
 [709 0 0 ... 0 1 42085.58]
 [772 1 1 ... 1 0 92888.52]
 [792 0 0 ... 1 0 38190.78]]

7. Após executar o passo 6 (anterior), transforme os dados da variável "Geography" para a forma binária utilizando a classe OneHotEncoder da biblioteca scikit-learn eliminando redundância, ou seja, aplicando a codificação de variáveis dummy. Observe que há apenas 3 países (categorias) diferentes. Atenção: esse talvez seja o passo mais difícil da tarefa. Você deve transformar o resultado da variável/coluna "Geography" obtido no passo 6 para o formato binário (one-hot) de modo que fique representado por apenas duas colunas (de 0s e 1s). Além disso, essas duas novas colunas devem permanecer na mesma variável X. Dica: verifique a utilização da função make_column_transformer (Links para um site externo.) da biblioteca scikit-learn;

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

enc = OneHotEncoder(drop = 'first', sparse = False) # cria objeto com argumento sparse = False para retornar uma matriz
ct = make_column_transformer((enc, [1]), remainder = 'passthrough')

X = ct.fit_transform(X)
print(X)

[[0.0 0.0 619 ... 1 1 101348.88]
 [0.0 1.0 608 ... 0 1 112542.58]
 [0.0 0.0 502 ... 1 0 113931.57]
 ...
 [0.0 0.0 709 ... 0 1 42085.58]
 [1.0 0.0 772 ... 1 0 92888.52]
 [0.0 0.0 792 ... 1 0 38190.78]]

In [7]:
print(X.shape)

(10000, 11)

8. Divida as variáveis X e y em dados de treino e de teste utilizando o método "train_test_split", gerando as variáveis X_train, X_test, y_train e y_test. Você define a proporção de dados de treino e de teste;

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
print("X train: ", X_train.shape)
print("X test: ", X_test.shape)
print("y train: ", y_train.shape)
print("y test: ", y_test.shape)

X train:  (6700, 11)
X test:  (3300, 11)
y train:  (6700,)
y test:  (3300,)

9. Faça a padronização (escalonadmento) dos dados das variáveis X_train e X_test utilizando a classe StandardScaler do scikit-learn;

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)
StandardScaler()

scaler.mean_
scaler.scale_

scaler.transform(X_train)

array([[ 1.74875572, -0.57987798,  1.67588802, ..., -1.54618507,
        -1.03555714,  1.50493673],
       [ 1.74875572, -0.57987798,  0.30320673, ...,  0.64675311,
         0.96566376, -1.31177144],
       [ 1.74875572, -0.57987798, -0.10235819, ...,  0.64675311,
        -1.03555714, -1.32081469],
       ...,
       [-0.57183516, -0.57987798,  0.86475817, ..., -1.54618507,
        -1.03555714, -0.15299072],
       [-0.57183516, -0.57987798,  0.15761932, ...,  0.64675311,
        -1.03555714, -0.06143595],
       [ 1.74875572, -0.57987798,  0.46959234, ...,  0.64675311,
         0.96566376, -0.82198396]])