# Segundo Desafio Prático

In [10]:
!pip install surprise

Requirement already satisfied: surprise in c:\python38\lib\site-packages (0.1)
Requirement already satisfied: scikit-surprise in c:\python38\lib\site-packages (from surprise) (1.1.1)
Requirement already satisfied: joblib>=0.11 in c:\python38\lib\site-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: scipy>=1.0.0 in c:\python38\lib\site-packages (from scikit-surprise->surprise) (1.6.1)
Requirement already satisfied: six>=1.10.0 in c:\python38\lib\site-packages (from scikit-surprise->surprise) (1.16.0)
Requirement already satisfied: numpy>=1.11.2 in c:\python38\lib\site-packages (from scikit-surprise->surprise) (1.19.5)

WARNING: You are using pip version 20.2.2; however, version 21.3 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

In [11]:
import surprise
from surprise import Reader
from surprise.model_selection import train_test_split
import pandas as pd

In [12]:
notas = pd.read_csv('ratings.csv')
filmes = pd.read_csv('movies.csv')

In [13]:
# uid = user_id
# fid = filme_id
notas.columns = ['uid', 'fid', 'nota', 'dia_avaliacao']
filmes.columns = ['fid', 'titulo', 'generos']

In [14]:
dados = filmes.merge(notas, on='fid')

In [15]:
dados = notas[['uid', 'fid', 'nota']]
dados

        uid     fid  nota
0         1       1   4.0
1         1       3   4.0
2         1       6   4.0
3         1      47   5.0
4         1      50   5.0
...     ...     ...   ...
100831  610  166534   4.0
100832  610  168248   5.0
100833  610  168250   5.0
100834  610  168252   5.0
100835  610  170875   3.0

[100836 rows x 3 columns]

In [16]:
reader = Reader(line_format='user item rating', rating_scale=[0.0,5.0])

In [17]:
data_surprise = surprise.Dataset.load_from_df(dados, reader)

In [18]:
trainset, testset = train_test_split(data_surprise, test_size=.25)

In [19]:
modelo = surprise.SVDpp()

In [20]:
modelo.fit(trainset)

In [22]:
user = input('Digite o código do usuário: ')
filme_alvo = int(input('Digite o código do filme para predição de nota: '))
predicao = modelo.predict(user,filme_alvo)
nome_filme = filmes.query("fid == %d" % filme_alvo)['titulo']
print(f'O usuário {user} daria a nota: {predicao.est} para o filme {nome_filme.values}')

O usuário 1 daria a nota: 3.8612150819280253 para o filme ['Toy Story (1995)']