#Sistemas de Recomendação - 16/10/2021



1.   Salvar e carregar modelo de dados treinado;
2.   Inclusões de novas avaliações no arquivo de notas;
3. Modulando funções;
4. Comportamento das recomendações após novas avaliações;
5. Gerando e analisando arquivo XML com as predições;
6. Espaço para realização dos trabalhos.

In [2]:
#instalando a lib surprise
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 51 kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619419 sha256=60ee14fedd9789b878fef48d3cd6034b811b0991257d443ea1ec8fc25c4378e0
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [4]:
import pandas as pd


filmes = pd.read_csv('movies.csv')
notas = pd.read_csv('ratings.csv')
notas.columns = ['id_usuario','id_filme','nota_usuario_filme','dia_avaliacao']
filmes.columns = ['id_filme','titulo','genero']

#Buscando filmes assistidos e não assistidos de um usuário

In [109]:
filmes_assistidos = notas.query('id_usuario == 1')
filmes_nao_assistidos = filmes.set_index('id_filme').drop(filmes_assistidos.set_index('id_filme').index,errors='ignore')
filmes_nao_assistidos.head(5)

                                      titulo                      genero
id_filme
2                             Jumanji (1995)  Adventure|Children|Fantasy
4                   Waiting to Exhale (1995)        Comedy|Drama|Romance
5         Father of the Bride Part II (1995)                      Comedy
7                             Sabrina (1995)              Comedy|Romance
8                        Tom and Huck (1995)          Adventure|Children

In [107]:
#conferindo os filmes não assistidos
#ele compara o id do usuário e o id do filme e se não retornar nada, é porque está correto.
filmes_assistidos = notas.query('id_usuario == 584 and id_filme == 1237')
filmes_assistidos

Empty DataFrame
Columns: [id_usuario, id_filme, nota_usuario_filme, dia_avaliacao]
Index: []

#Criando, treinando, salvando e carregando modelo

In [62]:
import surprise
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split 
import pickle

In [28]:
#reader = escala das notas, a estrutura da linha de entrada de dados -> id_u id_i avaliacao
reader = Reader(line_format='user item rating',rating_scale=(0.0,5.0))

In [40]:
#preparando os dados para a lib surprise, que deve ter somente as colunas id do usuario, id do filme e a nota
dados_surprise = notas[['id_usuario','id_filme','nota_usuario_filme']]
dados_preparados_treinamento = surprise.Dataset.load_from_df(dados_surprise,reader)

In [70]:
#temos os dados preparados em formato objeto surprise
#criando o modelo SVD
algo = surprise.SVDpp()

In [71]:
trainset, testset = train_test_split(dados_preparados_treinamento)

In [72]:
#para realizar o treinamento utiliza-se o algo.fit()
algo.fit(trainset)

In [73]:
pickle.dump(algo,open('treinado.pkl','wb'))

In [110]:
print('Predições dos filmes não assistidos do usuário 1')
dic=[]
#vamos pegar todos os filmes não assistidos, calcular a predição e salvar no dicionario
filmes_nao_assistidos = filmes_nao_assistidos.reset_index()
for index, row in filmes_nao_assistidos.iterrows():
  dic.append(algo.predict(1,row['id_filme']))

Predições dos filmes não assistidos do usuário 1

In [111]:
predicoes = pd.DataFrame.from_dict(dic)

In [112]:
predicoes.columns = ['id_usuario','id_filme','ref','predicao','destalhes']

In [113]:
recomendacoes = pd.merge(predicoes,filmes,how='inner',on='id_filme').sort_values('predicao',ascending=False)[['id_filme','titulo','predicao']]

In [117]:
#recomendacoes.head(50)

#Modulando funções para buscar filmes assistidos e não assistidos pelo id_filme

In [118]:
def busca_filmes_assistidos(id_usuario):
  print('Filmes assistidos do usuário %d' % id_usuario)
  filmes_assistidos = notas.query('id_usuario == %d' % id_usuario)
  return filmes_assistidos

In [139]:
def busca_filmes_nao_assistidos(id_usuario):
  filmes_assistidos = notas.query('id_usuario == %d' % id_usuario)
  id_filmes_assistidos = filmes_assistidos.set_index('id_filme').index
  filmes_nao_assistidos = filmes.set_index('id_filme').drop(id_filmes_assistidos,errors='ignore').reset_index()
  return filmes_nao_assistidos

In [142]:
def verifica_predicoes_filmes_nao_assistidos(id_usuario):
  print('Predicoes do usuário %d' % id_usuario)
  dic=[]
  #vamos pegar todos os filmes não assistidos, calcular a predição e salvar no dicionario
  filmes_predicoes = busca_filmes_nao_assistidos(id_usuario)
  for index, row in filmes_predicoes.iterrows():
    dic.append(algo.predict(id_usuario,row['id_filme']))
  return pd.DataFrame.from_dict(dic)

#Realizando predições

In [236]:
def apresenta_recomendacoes(id_usuario,numero_de_recomendacoes=10):
  filmes_assistidos = notas.query("id_usuario == %d " % id_usuario)
  if filmes_assistidos.empty:
    print("****O usuário com id %d ainda não avaliou nenhum filme****" % id_usuario)
    print("****Serão recomendados os filmes mais populares****")
    total_de_votos = notas['id_filme'].value_counts()
    filmes_backup = filmes.copy()
    filmes_backup['total_de_votos'] = total_de_votos
    notas_medias = notas.groupby('id_filme').mean()['nota_usuario_filme']
    filmes_backup['notas_medias'] = notas_medias
    return filmes_backup.sort_values('total_de_votos',ascending=False).head(numero_de_recomendacoes)

  predicoes = verifica_predicoes_filmes_nao_assistidos(id_usuario)
  predicoes.columns = ['id_usuario','id_filme','ref','predicao','destalhes']
  recomendacoes = pd.merge(predicoes,filmes,how='inner',on='id_filme').sort_values('predicao',ascending=False)[['id_filme','titulo','predicao']]
  return recomendacoes.head(numero_de_recomendacoes)

In [237]:
apresenta_recomendacoes(950,5)

****O usuário com id 950 ainda não avaliou nenhum filme****
****Serão recomendados os filmes mais populares****

      id_filme  ... notas_medias
356        412  ...     4.164134
318        360  ...     4.429022
296        338  ...     4.197068
593        735  ...     4.161290
2571      3439  ...     4.192446

[5 rows x 5 columns]

In [201]:
apresenta_recomendacoes(584)

Predicoes do usuário 584

      id_filme                                          titulo  predicao
9378    168252                                    Logan (2017)  5.000000
3940      5690  Grave of the Fireflies (Hotaru no haka) (1988)  5.000000
1337      1945                        On the Waterfront (1954)  5.000000
2198      3030                                  Yojimbo (1961)  5.000000
576        858                           Godfather, The (1972)  4.976166
866       1252                                Chinatown (1974)  4.974286
231        318                Shawshank Redemption, The (1994)  4.967091
6230     48516                            Departed, The (2006)  4.928491
826       1208                           Apocalypse Now (1979)  4.928405
603        904                              Rear Window (1954)  4.913635

#Inserindo dados no arquivo CSV

In [155]:
#CSV
import csv

In [161]:
with open('ratings.csv','a') as arquivo_csv:
  escrever = csv.writer(arquivo_csv,delimiter=',',lineterminator='\n')
  escrever.writerow([584,1223,5.0])

In [162]:
notas = pd.read_csv('ratings.csv')
notas.columns = ['id_usuario','id_filme','nota_usuario_filme','dia_avaliacao']

In [163]:
notas.tail()

        id_usuario  id_filme  nota_usuario_filme  dia_avaliacao
100833         610    168250                 5.0   1.494273e+09
100834         610    168252                 5.0   1.493846e+09
100835         610    170875                 3.0   1.493846e+09
100836         584      1237                 5.0            NaN
100837         584      1223                 5.0            NaN

In [165]:
notas.tail()

        id_usuario  id_filme  nota_usuario_filme  dia_avaliacao
100833         610    168250                 5.0   1.494273e+09
100834         610    168252                 5.0   1.493846e+09
100835         610    170875                 3.0   1.493846e+09
100836         584      1237                 5.0            NaN
100837         584      1223                 5.0            NaN

#Salvar predições em arquivo xml

In [171]:
import xml.etree.cElementTree as ET

In [183]:
def grava_arquivo_xml(dados,id_usuario):
    root = ET.Element("Catalogo")
    for index, row in dados.iterrows():
        doc = ET.SubElement(root, "Filme")
        ET.SubElement(doc, "Id_filme").text = str(row['id_filme'])
        ET.SubElement(doc, "Titulo").text = row['titulo']
    tree = ET.ElementTree(root)
    tree.write("filmes_us_"+str(id_usuario)+".xml")

In [185]:
grava_arquivo_xml(apresenta_recomendacoes(145,5),145)

Predicoes do usuário 145

#Função para realizar treinamento

In [192]:
#essa função vai criar o modelo e treinamento com os dados.
#escala menor é a nota mais baixa do conjunto de dados. -> 0.0
#escala maior é a nota mais alta do conjunto de dados. -> 0.5
def realiza_treinamento(dados, nome_modelo,escala_menor, escala_maior):
  if(nome_modelo == 'SVD') or (nome_modelo == 'svd'):
    print('Modelo escolhido foi o SVD')
    algo = surprise.SVD()
    print('Modelo gerado com sucesso')
  elif(nome_modelo == 'SVDpp') or (nome_modelo == 'svdpp') or (nome_modelo == 'SVDPP'):
    print('Modelo escolhido foi o SVDpp')
    algo = surprise.SVDpp()
    print('Modelo gerado com sucesso')

  reader = Reader(line_format='user item rating',rating_scale=(escala_menor,escala_maior))
  dados_surprise = dados[['id_usuario','id_filme','nota_usuario_filme']]
  dados_preparados_treinamento = surprise.Dataset.load_from_df(dados_surprise,reader)
  trainset, testset = train_test_split(dados_preparados_treinamento)
  algo.fit(trainset)
  print("Modelo "+nome_modelo+" treinado com sucesso")
  return algo

In [193]:
algo = realiza_treinamento(notas,'SVD',0.0,5.0)

Modelo escolhido foi o SVD
Modelo gerado com sucesso
Modelo SVD treinado com sucesso

#Criando menu para inserir avaliações, recarregar treinamento, apresentar recomendações

In [245]:
#função para salvar o modelo treinado
def salva_modelo(algo):
  print(algo)
  pickle.dump(algo,open('treinado.pkl','wb'))
  print("O comando dump foi executado sem erro")

In [247]:
def carrega_modelo():
  with open('treinado.pkl','rb') as modelo:
    algo = pickle.load(modelo)
  return algo

In [266]:
def verifica_predicoes_filmes_nao_assistidos(id_usuario,algo):
  print('Predicoes do usuário %d' % id_usuario)
  dic=[]
  #vamos pegar todos os filmes não assistidos, calcular a predição e salvar no dicionario
  filmes_predicoes = busca_filmes_nao_assistidos(id_usuario)
  for index, row in filmes_predicoes.iterrows():
    dic.append(algo.predict(id_usuario,row['id_filme']))
  return pd.DataFrame.from_dict(dic)

In [265]:
def apresenta_recomendacoes(id_usuario,notas,algo,filmes,numero_de_recomendacoes=10):
  filmes_assistidos = notas.query("id_usuario == %d " % id_usuario)
  if filmes_assistidos.empty:
    print("****O usuário com id %d ainda não avaliou nenhum filme****" % id_usuario)
    print("****Serão recomendados os filmes mais populares****")
    total_de_votos = notas['id_filme'].value_counts()
    filmes_backup = filmes.copy()
    filmes_backup['total_de_votos'] = total_de_votos
    notas_medias = notas.groupby('id_filme').mean()['nota_usuario_filme']
    filmes_backup['notas_medias'] = notas_medias
    return filmes_backup.sort_values('total_de_votos',ascending=False).head(numero_de_recomendacoes)

  predicoes = verifica_predicoes_filmes_nao_assistidos(id_usuario,algo)
  predicoes.columns = ['id_usuario','id_filme','ref','predicao','destalhes']
  recomendacoes = pd.merge(predicoes,filmes,how='inner',on='id_filme').sort_values('predicao',ascending=False)[['id_filme','titulo','predicao']]
  return recomendacoes.head(numero_de_recomendacoes)

In [270]:
def menu():
  continuar = 1
  while(continuar):
    continuar = int(input("0. Sair\n"+
                          "1. Inserir novas avaliações\n"+
                          "2. Verificar id de um novo usuário\n"+
                          "3. Realiza Treinamento\n"+
                          "4. Recomenda Filmes\n"
                          )
                    )
    if(continuar == 1):
      usuario = input("Digite o id do usuário: ")
      filme = input("Digite o id do filme: ")
      nota = input("Digite a nota do filme: ")

      with open('ratings.csv','a') as arquivo_csv:
        escrever = csv.writer(arquivo_csv,delimiter=',',lineterminator='\n')
        escrever.writerow([usuario,filme,nota])

    if(continuar == 2):
      notas = pd.read_csv('ratings.csv')
      notas.columns = ['id_usuario','id_filme','nota_usuario_filme','dia_avaliacao']
      novo_usuario = notas['id_usuario'].max()+1
      print("O próximo ID de usuário livre eh: %d" % novo_usuario)

    if(continuar == 3):
      notas = pd.read_csv('ratings.csv')
      notas.columns = ['id_usuario','id_filme','nota_usuario_filme','dia_avaliacao']
      modelo = input("Digite o nome do modelo: ")
      escala_menor = float(input("Digite o valor da nota mais baixa: "))
      escala_maior = float(input("Digite o valor da nota mais alta: "))
      algo = realiza_treinamento(notas,modelo,escala_menor,escala_maior)
      salva_modelo(algo)

    if(continuar == 4):
      notas = pd.read_csv('ratings.csv')
      notas.columns = ['id_usuario','id_filme','nota_usuario_filme','dia_avaliacao']
      algo = carrega_modelo()
      id_usuario = int(input("Recomendar filmes para: "))
      numero_de_recomendacoes = int(input("Digite o número de filmes a recomendar: "))
      recomendacoes = apresenta_recomendacoes(id_usuario,notas,algo,filmes,numero_de_recomendacoes)
      grava_arquivo_xml(recomendacoes,id_usuario)
      print(recomendacoes[['id_filme','titulo']])

In [276]:
menu()

0. Sair
1. Inserir novas avaliações
2. Verificar id de um novo usuário
3. Realiza Treinamento
4. Recomenda Filmes
4
Recomendar filmes para: 790
Digite o número de filmes a recomendar: 5
****O usuário com id 790 ainda não avaliou nenhum filme****
****Serão recomendados os filmes mais populares****
      id_filme                                             titulo
356        412                       Age of Innocence, The (1993)
318        360                              I Love Trouble (1994)
296        338                                  Virtuosity (1995)
593        735         Cemetery Man (Dellamorte Dellamore) (1994)
2571      3439  Teenage Mutant Ninja Turtles II: The Secret of...
0. Sair
1. Inserir novas avaliações
2. Verificar id de um novo usuário
3. Realiza Treinamento
4. Recomenda Filmes
1
Digite o id do usuário: 790
Digite o id do filme: 3439
Digite a nota do filme: 5
0. Sair
1. Inserir novas avaliações
2. Verificar id de um novo usuário
3. Realiza Treinamento
4. Recomenda Filmes
0

In [277]:
notas = pd.read_csv('ratings.csv')
notas.columns = ['id_usuario','id_filme','nota_usuario_filme','dia_avaliacao']
notas.tail(5)

        id_usuario  id_filme  nota_usuario_filme  dia_avaliacao
100837         584      1223                 5.0            NaN
100838         584    168252                 4.3            NaN
100839         584      1197                 2.5            NaN
100840         584       318                 5.0            NaN
100841         790      3439                 5.0            NaN

#Verificar recomendações após novas avaliações

#Base de dados escolhida